a {
  color: #07889b; /*#1772d0;*/
  text-decoration:none;
  }
  a:focus, a:hover {
  color: #e37222; /*#f7b733;*/ /*f09228;*/
  text-decoration:none;
  }
  body,td,th,tr,p {
  font-family: "TeXGyrePagella", "Palatino Linotype", "Book Antiqua", Palatino, serif; /*'Lato', Verdana, Helvetica, sans-serif;*/
  font-size: 15px; /*14*/
  }
  a {
  font-family: "TeXGyrePagella", "Palatino Linotype", "Book Antiqua", Palatino, serif; /*'Lato', Verdana, Helvetica, sans-serif;*/
  }
  strong {
  font-family: "TeXGyrePagella", "Palatino Linotype", "Book Antiqua", Palatino, serif; /*'Lato', Verdana, Helvetica, sans-serif;*/
  font-size: 15px; /*14*/
  }
  heading {
  font-family: "TeXGyrePagella", "Palatino Linotype", "Book Antiqua", Palatino, serif; /*'Lato', Verdana, Helvetica, sans-serif;*/
  font-size: 22px;
  color: #e37222; /*#fc4a1a;*/
  }
  heading2 {
  font-family: "TeXGyrePagella", "Palatino Linotype", "Book Antiqua", Palatino, serif; /*'Lato', Verdana, Helvetica, sans-serif;*/
  font-size: 18px;
  }
  .papertitle {
  font-family: "TeXGyrePagella", "Palatino Linotype", "Book Antiqua", Palatino, serif; /*'Lato', Verdana, Helvetica, sans-serif;*/
  font-size: 18px; /*14*/
  font-weight: 700;
  }
  name {
  font-family: "TeXGyrePagella", "Palatino Linotype", "Book Antiqua", Palatino, serif; /*'Lato', Verdana, Helvetica, sans-serif;*/
  font-size: 42px;
  }
  li:not(:last-child) {
      margin-bottom: 5px;
  }
  .one
  {
  width: 160px;
  height: 160px;
  position: relative;
  }
  .two
  {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
  }
  .fade {
   transition: opacity .2s ease-in-out;
   -moz-transition: opacity .2s ease-in-out;
   -webkit-transition: opacity .2s ease-in-out;
  }
  span.highlight {
      background-color: #ffffd0;
  }
